@import "./sass/helpers/variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

button {
    cursor: pointer;
}

.heading {
    margin-bottom: 100px;

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1.3rem;
        color: #777;
    }
}

.navbar_container {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 9999;

    .navbar {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        &.sticky {
            background-color: white;
        }

        ul {
            display: flex;

            li {
                margin-right: 20px;

                a {
                    text-transform: uppercase;
                    color: black;
                    font-size: 1.2rem;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        .info {
            display: flex;
            align-items: center;

            a {
                color: $secondary-color;
                font-size: 1.2rem;
                margin-right: 40px;
            }

            .log {
                display: flex;
                align-items: center;
                font-size: 1.2rem;

                a {
                    color: black;
                    text-transform: uppercase;
                    margin-left: 20px;
                }
            }
        }
    }
}

.landing_page {
    background-image: url("./images/banner-bg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
    }

    p {
        color: #777;
        font-size: 1.3rem;
    }

    button {
        margin-top: 400px;
        background-color: $secondary-color;
        font-size: 1.4rem;
        border: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        text-transform: uppercase;
        color: white;
        padding: 20px 40px;
        cursor: pointer;
    }

}

.services {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    &.page {
        margin-top: 0;
        padding-top: 200px;
    }

    .our_services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
        gap: 20px;

        .service {
            margin-bottom: 20px;

            h3 {
                font-size: 1.8rem;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 20px;
            }

            p {
                font-size: 1.3rem;
                color: #777;
            }

            button {
                background-color: $secondary-color;
                color: white;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 15px 30px;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                margin-top: 20px;
            }
        }
    }
}

.about {
    background-color: $secondary-color;
    padding: 100px 0;
    margin-bottom: 100px;
    &.page {
        margin-bottom: 0;
    }

    .container {
        display: flex;
        gap: 20px;

        .heading {
            color: white;

            p {
                color: white;
                margin-top: 40px;
                margin-bottom: 100px;
            }

            button {
                background-color: black;
                color: white;
                font-size: 1.2rem;
                text-transform: uppercase;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                padding: 15px 30px;
            }
        }
    }
}

.furniture {
    text-align: center;
    margin-bottom: 100px;
    &.page {
        padding-top: 200px;
    }

    .categories {
        display: flex;
        gap: 20px;

        >div {
            text-align: left;

            .image {
                margin-bottom: 30px;

                img {
                    max-width: 100%;
                }
            }

            h3 {
                color: $secondary-color;
                text-transform: uppercase;
                font-weight: 800;
            }

            p {
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
    }
}

.who_we_are {
    background-image: url(../src/images/img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #ffb507da;
    }

    .container {
        position: relative;

        .heading {
            margin-bottom: 40px;

            h2 {
                color: white;
            }

            p {
                text-transform: uppercase;
                color: white;
                font-size: 1rem;
            }
        }

        p {
            color: white;
            font-size: 1.3rem;
        }

        button {
            margin-top: 100px;
            background-color: black;
            color: white;
            font-size: 1.2rem;
            padding: 15px 30px;
            border: none;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            text-transform: uppercase;
        }
    }
}

.projects {
    text-align: center;
    margin-bottom: 100px;

    .designs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: 20px;

        .design {
            position: relative;

            img {
                width: 100%;
            }

            p {
                position: absolute;
                left: 20%;
                bottom: 20px;
                text-transform: uppercase;
                color: white;
                font-size: 1.3rem;
            }
        }
    }
}

.clients {
    text-align: center;
    margin-bottom: 100px;

    .feedbacks {
        >div {

            border: 1px solid black;
            display: flex;
            align-items: center;
            padding: 15px;
            width: 60%;

            .image {
                position: relative;
                margin-right: 20px;

                .quote {
                    position: absolute;
                    bottom: -5px;
                    left: 45%;
                }
            }

            .info {
                text-align: left;

                h3 {
                    text-transform: uppercase;
                }

                p {
                    color: #777;
                    font-size: 1.3rem;
                }
            }
        }

        .left_feedback {
            margin-bottom: 30px;
        }

        .right_feedback {
            margin-left: auto;
        }
    }
}

.contact_us {
    background-image: url("./images/img-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 100px 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #ffb507da;
    }

    .container {
        position: relative;

        .heading {
            h2 {
                color: white;
            }
        }

        .message_us {
            display: flex;

            form {
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                width: 50%;

                input:not(input[type="submit"]),
                textarea {
                    margin-bottom: 20px;
                    border: none;
                    padding: 20px;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    outline: none;

                    &::placeholder {
                        color: #777;
                        font-size: 1.3rem;
                    }

                    &:focus::placeholder {
                        opacity: 0;
                    }
                }

                input[type="submit"] {
                    background-color: black;
                    color: white;
                    font-size: 1.4rem;
                    border: none;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    padding: 20px;
                    width: fit-content;
                    margin: auto;
                    cursor: pointer;
                }
            }

            .image {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.infos {
    background-color: $background-color;
    color: white;
    padding: 100px 0;
    .information {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
        gap: 20px;
        justify-content: space-between;
        .special_card {
            h2 {
                font-size: 2.7rem;
                margin-bottom: 40px;
            }
            p {
                font-size: 1.3rem;
            }
        }
        .card {
            h2 {
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            p {
                font-size: 1.3rem;
            }
            ul {
                li {
                    a {
                        color: white;
                        text-transform: capitalize;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    form {
        text-align: right;
        display: flex;
        justify-content: end;
        input:not(input[type = "submit"]) {
            width: 35%;
            padding: 10px 0;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid white;
            &::placeholder {
                font-size: 1.3rem;
                color: #777;
            }
        }
        input[type = "submit"] {
            background-color: transparent;
            font-size: 1.3rem;
            color: white;
            border: none;
            outline: none;
            border-bottom: 1px solid white;
        }
    }
}

footer {
    text-align: center;
    margin-top: 50px;
    .socials {
        a {
            margin-right: 5px;
        }
    }
    .copyright {
        p {
            text-transform: capitalize;
            font-size: 1.3rem;
        }
    }
}


@media (max-width: 1099px) {
    :root {
        font-size: 14px;
    }


    .navbar_container {
        .navbar {
            ul {
                display: none;
            }
        }
    }

    .about {
        .container {
            flex-direction: column;
        }
    }

}

@media (max-width: 750px) {
    :root {
        font-size: 12px;
    }

    .furniture {
        .categories {
            flex-direction: column;
        }
    }

    .clients {
        .feedbacks {
            >div {
                width: 100%;
            }
        }
    }

    .contact_us {
        text-align: center;
        .message_us {
            flex-direction: column;
            > div {
                width: 100% !important;
            }
            form {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 550px) {
    :root {
        font-size: 10px;
    }

    .container {
        max-width: 90%;
    }

    .landing_page {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .navbar_container {
        .navbar {
            .logo {
                img {
                    width: 150px;
                }
            }
        }
    }


    .navbar_container {
        .navbar {
            .info {
                flex-direction: column;
            }
        }
    }

    .clients {
        .feedbacks {
            >div {
                flex-direction: column;

                .image {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
        }
    }

}