@import "./sass/helpers/variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 50000px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.container {
    max-width: 85%;
    margin: auto;
}

.heading {
    margin-bottom: 100px;

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1.3rem;
        color: #777;
    }
}

.navbar_container {
    width: 100%;
    margin: auto;
    position: fixed;

    .navbar {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        &.sticky {
            background-color: white;
        }

        ul {
            display: flex;

            li {
                margin-right: 20px;

                a {
                    text-transform: uppercase;
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }

        .info {
            display: flex;
            align-items: center;

            a {
                color: $secondary-color;
                font-size: 1.2rem;
                margin-right: 40px;
            }

            .log {
                display: flex;
                align-items: center;
                font-size: 1.2rem;

                a {
                    color: black;
                    text-transform: uppercase;
                    margin-left: 20px;
                }
            }
        }
    }
}

.landing_page {
    background-image: url("./images/banner-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
    }

    p {
        color: #777;
        font-size: 1.3rem;
    }

    button {
        margin-top: 400px;
        background-color: $secondary-color;
        font-size: 1.4rem;
        border: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        text-transform: uppercase;
        color: white;
        padding: 20px 40px;
        cursor: pointer;
    }

}

.services {
    margin-top: 100px;
    text-align: center;

    .our_services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
        gap: 20px;

        .service {
            margin-bottom: 20px;
            h3 {
                font-size: 1.8rem;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 20px;
            }

            p {
                font-size: 1.3rem;
                color: #777;
            }

            button {
                background-color: $secondary-color;
                color: white;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 15px 30px;
                border: none;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                margin-top: 20px;
            }
        }
    }
}


@media (max-width: 1099px) {
    :root {
        font-size: 14px;
    }


    .navbar_container {
        .navbar {
            ul {
                display: none;
            }
        }
    }

}

@media (max-width: 750px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    :root {
        font-size: 10px;
    }


    .navbar_container {
        .navbar {
            .info {
                flex-direction: column;
            }
        }
    }

}